# Core configs and scripts require @fubumaki review
/config.yaml                                           @fubumaki
/config-hardened-plus.yaml                             @fubumaki
/*.ps1                                                 @fubumaki
/docs/*                                                @fubumaki
