# Require review from ops for changes to core scripts/config
C:/otel/config.yaml                                    @fubumaki
C:/otel/config-hardened-plus.yaml                      @fubumaki
C:/otel/*.ps1                                          @fubumaki
/docs/*                                                @fubumaki
